.sidebar-container {
    position: absolute;
    box-sizing: border-box;
    width: 20%;
    right: 0;
    height: 100%;
    background-color: #0b2b57;
    color: #fff;
    padding: 1% 2%;
}

.sidebar-section {
    width: 100%;
}

.slider {
    width: 100%;
}