.App {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100%;
  }
  
  .App-header {
    display: flex;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Circle{
    position: absolute;
    z-index: 1;
  }
  
  .Logo{
    position: absolute;
    z-index: 1;
    width: 300px;
    transform: translate(-30px,-120px);
  }
  
  .App-link {
    color: #61dafb;
  }
  
  @keyframes App-logo-spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .map{
    z-index: 2;
  }

  .ret{
    position: relative;
    z-index: -1;
  }

  .map-container{
    position: relative;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }

  .province{
    transition: all .2s ease-in-out;
    position: absolute;
  }

  .province:hover{
    transform: scale(1.07)
  }

  /* provinces */

  .Alberta{
    top: 390px;
    left: 360px;
  }

  .Bc{
    top: 330px;
    left: 245px;
  }

  .Manitoba{
    top: 410px;
    left: 550px;
  }

  .Nb{
    top: 505px;
    left: 930px;
  }

  .Newfoundland{
    top: 335px;
    left: 885px;
  }

  .Northwest{
    top: 155px;
    left: 345px;
  }

  .Ns{
    top: 485px;
    left: 995px;
  }

  .Nunavut{
    top: 70px;
    left: 455px;
  }

  .Ontario{
    top: 445px;
    left: 625px;
  }

  .Quebec{
    top: 340px;
    left: 760px;
  }

  .Saskatchewan{
    top: 405px;
    left: 445px;
  }

  .Yukon{
    top: 210px;
    left: 245px;
  }

  /* provinces */

  